<div class="sidebar">
  <header>
    <div class="sb-logo">
    {% autoescape false %}
      {{ icon }}
    {% endautoescape %}
    </div>
  </header>
  {# renders the sidebar items #}
  {% for section in sections %}
  <div class="sb-section">
    <div class="sb-section icon-{{ section.name }}"></div>
    <ul>
      {% for item in section.items %}
        {% include 'cms:partials.sidebar:item.twig' with {'item' : item} %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
