<!DOCTYPE html>
<html>
  <head>
    <title>title</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% include 'cms:partials.assets:css.twig' %}
    {% include 'cms:partials.assets:js.twig' %}

  </head>
  <body>

    <div class="container site-container" id="wrapper">

      {{ '2004-04-02' | localizeddate('long', 'none', 'de') }}

      {{ 'some long sentence here' | truncate(10, true, '…') }}

      {% include 'cms:partials.sidebar:wrapper.twig' %}

      <div class="main-content">
        {% include 'cms:partials:header.twig' %}
        <div class="content">{% block content %}{% endblock %}</div>
        {% include 'cms:partials:footer.twig' %}
      </div>

    </div>
  </body>
</html>
